/* main-one  */

.main-one {
    width: 100%;
    height: 730px;
    background-color: #f5f5f5;
    padding-top: 100px;
}

.main-one .swiper-wrapper .content {
    width: 1080px;
    padding-top: 100px;
    margin: 0 auto;
}

.main-one .banner-left {
    height: 485px;
    width: 490px;
    box-sizing: border-box;
    padding: 15px 15px 15px 70px;
}

.main-one .banner-left h2 {
    letter-spacing: 6px;
    font-size: 100px;
    line-height: 126px;
    color: #292929;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 90px;
}

.main-one .banner-left p {
    width: 300px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #7c7a7a;
    font-size: 18px;
}

.main-one .banner-left a {
    display: inline-block;
    font-size: 14px;
    color: #292929;
    font-weight: 500;
    letter-spacing: 1.6px;
    margin-top: 45px;
    padding-bottom: 4px;
    position: relative;
}

.main-one .banner-right {
    width: 600px;
    height: 600px;
    background-color: #ecebeb;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-right: -65px;
}

.main-one .banner-right::before {
    content: '$5.59';
    position: absolute;
    top: 40px;
    right: 25px;
    width: 100px;
    height: 100px;
    background-color: #ff5235;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-weight: 300;
}

.main-one .banner-right img {
    width: 360px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-one .swiper-container .swiper-button-prev {
    left: 50px;
}

.main-one .swiper-container .swiper-button-next {
    right: 50px;
}

.main-one .swiper-container .swiper-button-prev:after, .main-one .swiper-container .swiper-button-next:after {
    content: '';
}

.main-one .swiper-container .arrow-style {
    color: #282828;
    font-size: 32px;
    transition: color .5s;
}

.main-one .swiper-container .arrow-style:hover {
    color: #ff5235;
}

/* main-two    */
.main-two .container .two-left {
    position: relative;
    width: 670px;
    height: 630px;
    overflow: hidden;
    margin-left: 15px;
}

.main-two .container .two-left:hover img, .main-two .container .two-right .two-right-top:hover img, .main-two .container .two-right .two-right-down:hover img {
    transform: scale(1.1) rotate(-1deg);
}

.main-two .container .two-left-text {
    position: absolute;
    top: 60px;
    left: 70px;
    z-index: 5;
}

.main-two .container .two-left-text span {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 37px;
    letter-spacing: .7px;
    font-weight: 300;
    display: inline-block;
}

.main-two .container .two-left-text a, .main-two .container .two-right-text h3 a {
    color: inherit;
}

.main-two .container .two-left img, .main-two .container .two-right img {
    width: 100%;
    transition: transform .3s ease-out 0s;
}

.main-two .container .two-right {
    padding: 0 15px;
}

.main-two .container .two-right .two-right-top, .main-two .container .two-right .two-right-down {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.main-two .container .two-right .two-right-down {
    margin-bottom: 0;
}

.main-two .container .two-right-text {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 5;
}

/* main-three */
.main-three .three-top ul {
    width: 520px;
    height: 54px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-three .three-top ul li {
    height: 34px;
    line-height: 34px;
}

.main-three .three-top ul li a {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    background-color: transparent;
    color: #7c7a7a;
}

.main-three .three-top ul li a:hover {
    color: #ff6935;
}

.main-three .three-mid {
    padding-top: 45px;
}

.main-three .three-mid .product-list {
    width: 370px;
    height: 521px;
    padding: 0 50px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.main-three .three-mid .product-list:nth-child(1)::before, .main-three .three-mid .product-list:nth-child(6)::before {
    content: "New";
    position: absolute;
    width: 50px;
    height: 20px;
    line-height: 20px;
    background-color: rgb(255, 222, 222);
    font-size: 12px;
    letter-spacing: 2px;
    color: #4a4a4a;
    font-weight: 300;
    left: 15px;
    top: 15px;
    z-index: 1;
    text-align: center;
}

.main-three .three-mid .product-list:nth-child(6)::before {
    content: 'Sold';
}

.main-three .three-mid .product-list:nth-child(2), .main-three .three-mid .product-list:nth-child(4) {
    margin: 0 40px;
}

.main-three .three-mid .product-list .product-img {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.main-three .three-mid .product-list .product-img img {
    transition: transform .3s ease-out 0s;
}

.main-three .three-mid .product-list .product-img img:hover {
    transform: scale(1.1);
}

.main-three .three-mid .product-list .add {
    width: 270px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 25px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(247, 255, 241, .4);
    transform: translateX(-270px);
    transition: all .5s ease-in-out;
}

.main-three .three-mid .product-list .product-img:hover .add {
    transform: translateX(0);
    background-color: rgba(247, 255, 241, 1);
}

.main-three .three-mid .product-list .add>a {
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.6px;
    position: relative;
}

.main-three .three-mid .product-list .add>a:hover, .main-three .three-mid .product-list .add .add-icon a i:hover, .main-three .three-mid .product-mes h4 a:hover {
    color: #ff5235;
}

.main-three .three-mid .product-list .add .add-icon {
    font-size: 18px;
    color: #A3A3A1;
}

.main-three .three-mid .product-list .add .add-icon a i {
    transition: color .5s;
    color: #A3A3A1;
    margin-right: 12px;
}

.main-three .three-mid .product-list .add .add-icon>i {
    cursor: pointer;
}

.main-three .three-mid .product-mes {
    text-align: center;
}

.main-three .three-mid .product-mes h4 a {
    color: inherit;
    transition: color .3s;
}

.main-three .three-mid .product-mes ul {
    width: 120px;
    height: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-three .three-mid .product-mes ul li {
    line-height: 24px;
    font-size: 16px;
    color: #FCA611;
}

.main-three .three-mid .product-mes .price span, .main-three .three-mid .product-mes .price del {
    font-size: 16px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.main-three .three-mid .product-mes .price del {
    margin-right: 10px;
    color: #a39f9f;
}

.main-three .three-mid .product-mes .price span:nth-child(1), .main-three .three-mid .product-mes .price span:nth-child(4) {
    color: #a39f9f;
}

.main-three .three-down {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.main-three .three-down .more, .main-four .four-left .more {
    display: inline-block;
    width: 180px;
    height: 60px;
    background-color: rgb(255, 82, 53);
    border-radius: 10px;
    color: #fff;
    line-height: 60px;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

/* main-four */

.main-four {
    box-sizing: border-box;
}

.main-four .four-left {
    width: 470px;
    padding-top: 90px;
}

.main-four .four-left>span {
    font-size: 14px;
    line-height: 26px;
    color: #ff5235;
    letter-spacing: .6px;
    font-weight: 300;
}

.main-four .four-left>h2 {
    font-size: 35px;
    line-height: 45px;
    color: #4a4a4a;
    font-weight: 300;
    margin-bottom: 8px;
}

.main-four .four-left .price {
    line-height: 28px;
}

.main-four .four-left .price del, .main-four .four-left .price span {
    color: #b4b1b1;
    font-size: 14px;
    margin-right: 5px;
    font-weight: 300;
}

.main-four .four-left .price span {
    color: #ff6935;
}

.main-four .four-left p {
    box-sizing: border-box;
    font-weight: 300;
    color: #7c7a7a;
    font-size: 14px;
    line-height: 28px;
    padding-right: 130px;
    margin-bottom: 15px;
}

.main-four .four-left .time {
    padding-bottom: 40px;
}

.main-four .four-left .time>div {
    display: inline-block;
    width: 62px;
    height: 93px;
}

.main-four .four-left .time>div:nth-child(1) {
    width: 86px;
}

.main-four .four-left .time>div .time-num {
    font-size: 48px;
    display: block;
    font-weight: lighter;
    color: #7c7a7a;
    text-align: right;
    line-height: 72px;
}

.main-four .four-left .time>div .time-text {
    font-size: 12px;
    line-height: 36px;
    color: #7c7a7a;
    text-align: end;
    display: block;
    margin-top: -15px;
}

.main-four .four-left .time .colon {
    display: inline-block;
    height: 48px;
    font-size: 24px;
    margin: 15px 10px 0;
    font-weight: lighter;
    color: #7c7a7a;
    vertical-align: top;
}

/* section-four右部分 */

.main-four .four-right {
    width: 670px;
    text-align: center;
    position: relative;
}

.main-four .four-right .orange-dis {
    width: 100px;
    height: 100px;
    background-color: #ff5235;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    line-height: 22.5px;
    left: 100px;
    top: 14px;
}

.main-four .four-right .orange-dis span {
    display: block;
    padding-top: 26px;
    font-weight: lighter;
}

/* main-five */

.main-five .five-content .news-content {
    width: 300px;
    display: inline-block;
}

.main-five .five-content .news-content:nth-child(2) {
    margin: 0 145px;
}

.main-five .five-content .news-content .img-content {
    width: 300px;
    height: 350px;
}

.main-five .five-content .news-content .img-content a {
    display: block;
    height: inherit;
    overflow: hidden;
}

.main-five .five-content .news-content .img-content img {
    transition: transform .3s;
}

.main-five .five-content .news-content .img-content img:hover {
    transform: scale(1.1);
}

.main-five .five-content .news-content .news-title {
    padding-top: 20px;
}

.main-five .five-content .news-content .news-title a {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #4a4a4a;
    transition: color .3s;
}

.main-five .five-content .news-content .news-title a:hover {
    color: #ff5235;
}

.main-five .five-content .news-content>span, .main-five .five-content .news-content>a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #b4b4b4;
}

.main-five .five-content .news-content>a {
    margin-top: 10px;
    color: #292929;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
}

/* main-six */
.main-six {
    height: 116px;
}

.main-six .six-left {
    width: 500px;
}

.main-six .six-left h2 {
    color: #4a4a4a;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 8px;
}

.main-six .six-left p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #7c7a7a;
    margin-bottom: 15px;
}



.main-six .six-right {
    width: 630px;
}

.main-six .six-right form {
    margin-top: 40px;
    border-bottom: 2px solid rgb(246, 246, 246);
    width: 570px;
    position: relative;
}

.main-six .six-right form input {
    position: relative;
    background: none;
    height: 30px;
    width: 420px;
    padding-left: 35px;
    border: 0;
    outline: 0;
    line-height: 30px;
    font-size: 18px;
}

.main-six .six-right form input::-webkit-input-placeholder {
    font-size: 14px;
    color: #cfc7c7;
    letter-spacing: 1.5px;
}

.main-six .six-right form i {
    position: absolute;
    left: 15px;
    top: 9px;
    color: #7c7a7a;
}

.main-six .six-right form button {
    height: 30px;
    line-height: 30px;
    background: none;
    color: #8f8c8c;
    cursor: pointer;
    border: 0;
    outline: 0;
    letter-spacing: 0.6px;
}

.main-six .six-right form button:hover {
    color: rgb(255, 82, 53);
}

/* .main-seven */
.main-seven {
    height: 428px;
    width: 100%;
    padding-bottom: 120px;
}

.main-seven .section-seven-title {
    text-align: center;
}

.main-seven .section-seven-title span {
    color: #7c7a7a;
    font-weight: lighter;
}

.main-seven .section-seven-content {
    padding-top: 60px;
}

.main-seven .section-seven-content .inst-img {
    display: inline-block;
    position: relative;
    margin-right: -5px;
}

.main-seven .section-seven-content .inst-img img {
    display: block;
    width: 100%;
}

.main-seven .section-seven-content .inst-img:hover::before {
    opacity: .6;
}

.main-seven .section-seven-content .inst-img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 165, 165);
    opacity: 0;
    transition: .5s;
}

.main-seven .section-seven-content a {
    position: absolute;
    font-size: 30px;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.main-seven .section-seven-content .inst-img:hover a {
    opacity: 1;
}

/* 页面弹出 */

.popup {
    width: 630px;
    /* height: 630px; */
    box-sizing: border-box;
    padding: 100px 0 115px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.popup span {
    position: absolute;
    right: 25px;
    top: 20px;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    padding: 1px 6px;
    font-weight: lighter;
    color: #7c7a7a;
}

.popup h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    padding-bottom: 15px;
    color: #4a4a4a;
    margin-bottom: 8px;
}

.popup p {
    font-size: 14px;
    line-height: 24px;
    color: #898989;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 300;
}

.popup form {
    text-align: center;
    padding-top: 20px;
}

.popup form input {
    width: 320px;
    background-color: rgb(240, 245, 249);
    height: 50px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.popup form input::-webkit-input-placeholder {
    color: #898989;
    font-weight: 300;
    font-size: 14px;
}

.popup form button {
    background-color: rgb(242, 101, 34);
    height: 50px;
    width: 170px;
    margin-left: -4px;
    font-size: 12px;
    line-height: 53px;
    color: #ffffff;
    letter-spacing: .6px;
}

.popup .checkbox {
    text-align: center;
    padding-top: 35px;
}

.popup .checkbox label {
    font-size: 15px;
    line-height: 26px;
    color: #7d7d7d;
    margin-bottom: 8px;
    font-weight: 300;
    position: relative;
}

.popup .checkbox label::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(183, 183, 183);
    position: absolute;
    left: -23px;
    top: 2px;
    bottom: 5.3px;
    cursor: pointer;
    padding: 1px;
    box-sizing: border-box;
}

.popup .checkbox label input[type='checkbox'], .popup .checkbox label input[type='checkbox']:checked {
    display: none;
}

.popup .checkbox label input[type='checkbox']:checked {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(242, 101, 34);
    appearance: none;
    -webkit-appearance: none;
    left: -24px;
    bottom: 2.2px;
    position: absolute;
    display: block;
}
.main-one .banner-left a:hover, .main-five .five-content .news-content>a:hover {
    color: #ff5235;
}

.main-one .banner-left a::after, .main-three .three-mid .product-list .add>a::after, .main-five .five-content .news-content>a::after {
    position: absolute;
    content: "";
    top: 78%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff5235;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: transform .2s;
}

.main-one .banner-left a:hover::after, .main-three .three-mid .product-list .add>a:hover::after, .main-five .five-content .news-content>a:hover::after {
    transform: scale(1, 0.5);
}